.message-container {
    display: none;
}

.section-title {
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.user-label-container {
    margin: 10px 0 20px 0;
}

.user-label-container .label {
    display: inline-block;
    margin: 2px;
    font-size: 14px;
}

.user-label-container .label .close-icon {
    display: inline-block;
    margin-left: 2px;
    cursor: pointer;
}

.user-label-container .team .close-icon {
    display: inline-block;
    margin-left: 2px;
    cursor: pointer;
}

.user-label-container .team-container {
    margin-top: 5px;
}

.user-label-container .team-container .team {
    font-size: 16px;
    padding-bottom: 2px;
    margin-bottom: 2px;
    border-bottom: 2px solid #CCC;
}

.label a {
    color: white !important;
}

.guest-autocomplete-container {
    min-height: 25px;
    margin-top: 2px;
}

.guest-autocomplete-container .label {
    display: inline-block;
    margin: 2px;
    font-size: 14px;
    cursor: pointer;
}