<div class="container-fluid" ng-controller="AddUserController">
    <h1>Add User</h1>
    <form id="add_user_form" ng-submit="submit()">
        <div class="form-group" required>

            <label for="user_name">Name:</label>
            <input class="form-control" id="user_name" ng-model="formData.user_name" type="text">

            <label for="team_number">Team Number:</label>
            <input class="form-control" id="team_number" ng-model="formData.team_number" ng-change="isNumTaken()" type="number">

            <label for="user_number">User Number:</label>
            <label style="color:red" ng-if="idTaken">This ID is taken.</label>
            <input class="form-control" id="user_number" ng-model="formData.user_number" ng-change="isNumTaken()" type="number">
            
            <label for="user_email">E-Mail Address:</label>
            <input class="form-control" id="user_email" ng-model="formData.user_email" type="text">
            
            <label for="user_password">Password:</label>
            <label style="color:red" ng-if="!passMatch">Passwords don't match.</label>
            <input class="form-control" id="user_password" ng-model="formData.user_password" ng-change="doPassesMatch()" type="password">
            <label for="user_password_confirm">Confirm Password:</label>
            <input class="form-control" id="user_password_confirm" ng-model="formData.user_password_confirm" ng-change="doPassesMatch()" type="password">

            <label for="user_number">Mentor?</label>
            <input id="user_number" ng-model="formData.user_mentor" type="checkbox">
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Submit</button>
        </div>
    </form>
</div>