<div class="container-fluid">
    <h1>Add User</h1>
    <form id="add_user_form" ng-submit="submit()">
        <div class="form-group">
            <ul>
                <li>
                <label for="user_email">E-Mail Address:</label>
                <input id="user_email" ng-model="formData.user_email" type="text">
                </li>
                <li>
                <label for="user_password">Password:</label>
                <input id="user_password" ng-model="formData.user_password" ng-change="doPassesMatch()" type="password">
                </li>
                <li>
                <label for="user_password_confirm">Confirm Password:</label>
                <input id="user_password_confirm" ng-model="formData.user_password_confirm" ng-change="doPassesMatch()" type="password">
                <label style="color:red">{{ passMatch }}</label>
                </li>
                <li>
                <label for="user_name">Name:</label>
                <input id="user_name" ng-model="formData.user_name" type="text">
                </li>
                <li>
                <label for="team_number">Team Number:</label>
                <input id="team_number" ng-model="formData.team_number" type="number">
                </li>
                <li>
                <label for="user_number">User Number:</label>
                <input id="user_number" ng-model="formData.user_number" ng-change="isNumTaken()" type="number">
                <label style="color:red">{{ idTaken }}</label>
                </li>
                <li>
                <label for="user_number">Mentor?</label>
                <input id="user_number" ng-model="formData.user_mentor" type="checkbox">
                </li>
            </ul>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Submit</button>
        </div>
    </form>
</div>