<div ng-controller="AdminController">
    <h3>Admin</h3>
    <fieldset>
        <legend>Timesheet</legend>
        <div class="form-group">
            <form ng-submit="submit()">
                <div class="form-group">
                    <label>User ID</label>
                    <input class="form-control" type="text" placeholder="Enter your user ID." ng-model="user_id"/>
                </div>
                <button class="btn btn-block btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </fieldset>
    <div class="alert alert-success" id="timelog-success" ng-if="lastLogged">
        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>User {{ lastLogged }} logged.</strong>
    </div>
    <table class="table table-condensed">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Time</th>
            <th>In/Out</th>
        </thead>
        <tbody>
            <tr ng-repeat="log in logsListed track by $index">
                <td>{{ log["user_id"] }}</td>
                <td>{{ log["user_name"] }}</td>
                <td>{{ log["timelog_timestamp"] }}</td>
                <td>{{ log["timelog_type"].toLowerCase() }}</td>
            </tr>
        </tbody>
    </table>
</div>