<div class="container-fluid" ng-controller="ChangePasswordController">
    <h1>Change Password</h1>
    <form id="add_user_form" ng-submit="submit()">
        <div class="form-group" required>
            <label>Current Password:</label>
            <input class="form-control" ng-model="formData.old_password" type="password">
            
            <label>New Password:</label>
            <label style="color:red" ng-if="formData.new_password !== formData.new_password_confirm && formData.new_password_confirm">New passwords don't match.</label>
            <input class="form-control" ng-model="formData.new_password" type="password">
            <label>Confirm New Password:</label>
            <input class="form-control" ng-model="formData.new_password_confirm" type="password">
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Submit</button>
        </div>
    </form>
</div>