<div class="container-fluid" ng-controller="EditLogController" ng-if="user_admin">
    <h1>Edit Timelog</h1>
    <form id="add_user_form" ng-submit="submit()">
        <div class="form-group" required>
            <label>Time In:</label>
            <input class="form-control" ng-model="timelog_timein" type="text" placeholder="yyyy-mm-dd hh:mm">
            <label>Time Out:</label>
            <input class="form-control" ng-model="timelog_timeout" type="text" placeholder="yyyy-mm-dd hh:mm">
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Save Changes</button>
        </div>
    </form>
    <div class="form-group">
        <button class="btn btn-danger" ng-click="deleteLog()">Delete Timelog</button>
    </div>
</div>