<div class="container-fluid">
    <h1>Timesheet</h1>
    <form id="timesheet_form" ng-submit="submit()">
        Enter your team's number and your ID separated by a dash to sign in/out.
        <div class="form-group">
            <input id="user_id" ng-model="formData.user_id" type="text" class="form-control"/>
            <button class="btn btn-primary btn-block" type="submit">Submit</button>
        </div>
        <ul>
            <li ng-repeat="log in prevLogs track by $index">
            {{ log["timesheet_timestamp"] }} {{ log["user_name"] }} {{ log["signed_in"] }}
            </li>
        </ul>
    </form>
</div>