<div class="container-fluid">
    <div ng-controller="ProfileController">
        <h2>{{ userData.user_name }}</h2>
        <h4>
            <span ng-if="userData.user_mentor">Mentor,</span>
            <span ng-if="!userData.user_mentor">Student,</span>
            Team {{ userData.team_number }} {{ userData.team_name }}
        </h4>
        <label>E-Mail Address:</label> {{ userData.user_email }}
        <h3>Time</h3>
        <div class="row form-group">
            <form ng-submit="loadUserTime()">
                <div class="col-xs-4">
                    <label>From:</label>
                    <input class="form-control" ng-model="timeStart" type="datetime"/>
                </div>
                <div class="col-xs-4">
                    <label>To:</label>
                    <input class="form-control" ng-model="timeEnd" type="datetime"/>
                </div>
                <div class="col-xs-4">
                    <label> </label>
                    <button class="btn btn-block btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
        {{ userTime.hours }} hour<span ng-if="userTime.hours!=1">s</span>,
        {{ userTime.minutes }} minute<span ng-if="userTime.minutes!=1">s</span>,
        {{ userTime.seconds }} second<span ng-if="userTime.seconds!=1">s</span>
        <div ng-if="user_admin"><a ng-href="#/view_timelogs?user_id={{ userId }}">View user timelogs</a></div>
    </div>
</div>