<div class="container-fluid">
    <h1>Users</h1>
    <form ng-submit="submit()">
        <div class="form-group">
            <label for="team_number">Team Number:</label>
            <input id="team_number" ng-model="formData.team_number" type="number" class="form-control"/>
            <button class="btn btn-primary btn-block" type="submit">Submit</button>
        </div>
    </form>
    <table class="table">
        <thead>
            <th>Name</th>
            <th>User ID</th>
        </thead>
        <tbody>
            <tr ng-repeat="user in usersListed track by $index">
                <td>{{ user["user_name"] }}</td>
                <td>{{ user["user_id"] }}</td>
            </tr>
        </tbody>
    </table>
</div>